# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Poetry
poetry.lock.bak

# Environment variables
.env
.env.local

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# Cartella da escludere
Docs/

# Logs
*.log

# OS
Thumbs.db

#Others
*.csv